{% load static %}
<img src="{% static 'assets/img/1.jpg' %}" alt="image not loaded">

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


<script src="{% static 'assets/js/script.js' %}"></script>


<h1>hi welcome to balaviper universe</h1>
<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction()">Try it</button>



