{% extends "base.html" %}

{% block title %} hompage {% endblock  %}


{% block content %}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<table class="table">
  <thead>
    <tr>
      
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">contact</th>
      <th scope="col">address</th>

    </tr>
  </thead>
  <tbody>
       {% for users in user  %}
    <tr>
      
      <td>{{ users.name}}</td>
      <td>{{ users.email}}</td>
      <td>{{ users.contact}}</td>
      <td>{{ users.address}}</td>


    </tr>
{% endfor %}  
  </tbody>
</table>
{% for users in user  %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ users.name}}</h5>
    <p class="card-text">{{ users.email}}</p>
    <a href="#" class="btn btn-primary">{{ users.contact}}</a>
  </div>
</div><hr>
{% endfor %}
{% endblock  %}

{% comment %} <h1>{% for users in user  %}

{{ users.name}} <br>

{{ users.email}} <br>

{{ users.contact}} <br>

{{ users.address}} <br>
<hr>


{% endfor %}</h1> {% endcomment %}





