<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Signals</title>
</head>
<body>
    <h1>Test Signals:{{request.user}}--{{request.user.first_name}}--{{request.user.last_name}}--{{request.user.profile.phone}}</h1>
    <p>Check the console or terminal to see the output messages.</p>
</body>
</html>
