<style>
    h1{
        background-color: black;
        color: white;
        border-color: red;
        border-width: 5px;
        border-style: solid;
        padding: 30px;
    }
</style>

<h1>Hello</h1>