<h1>hello</h1>
<p>how are you</p>
<div>hello world</div>

<style>
    h1{
        background-color: red;
        display: block;
    }
    p{
        background-color: purple;
        display:block;
    }
    div{
        background-color: pink;
        display: inline-block;
    }
</style>

