<ul>
    <li>home</li>
    <li>about us</li>
    <li>contact us</li>
</ul>

<style>
    li{
        background-color: black;
        color: white;
        display: inline;
        padding: 10px;
        margin-top: 10px;
    }
</style>