<div class="one"> </div>
<div class="two"> </div>
<h1>hello welcome to office</h1>
<p>hi</p>

<style>
    .one{
        background-color: red;
        height: 100px;
        width: 100px;
        display: inline-block;

    }

    .two{
        background-color: black;
        height: 100px;
        width: 100px;
        display: inline-block;
    }
    p{
        background-color: black;
        color: white;
    }
    h1{
        background-color: green;
        color: black;
    }
</style>