<style>
   h1{
    color: black;
   }

   p{
    color: red;
   }
</style>

<h1>heading</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quae, labore vel eaque inventore reiciendis nihil minus nisi odio. Recusandae possimus tenetur nihil necessitatibus! Voluptas, perferendis? Eveniet temporibus, sed ratione quas unde saepe corporis iusto blanditiis sapiente labore cupiditate repellendus nulla aperiam quo molestias nemo repellat voluptates, iste aliquam quis?</p>