<nav>
    <h1>navbar</h1>
    <ul>
        <li>home</li>
        <li>about us</li>
        <li>contact us</li>
    </ul>
</nav>

<style>
    nav{
        background-color: black;
        color: white;
        padding: 10px;
    }

    li,h1,ul{
        display: inline;
    }

    ul{
        margin-left: 60%;
    }
</style>