*{
margin: 0;
padding: 0;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
}

li,ul,h1{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box:hover{
    background-color: black;
    color: white;
}
.products
{
    text-align: center;
}
.about
{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}