<h1>Bala acadamy</h1>

<div>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam inventore unde deleniti sed, libero accusamus. Earum quae adipisci eaque neque accusamus cupiditate ad, sint minima debitis. Hic numquam possimus officia eum. Deleniti tempora consequatur natus vitae reprehenderit ut dicta velit placeat, alias voluptates aut, assumenda quas quasi quae eveniet autem suscipit laborum quod quis ipsam. Nulla delectus deleniti repellendus odit nesciunt velit quos, blanditiis laborum corporis adipisci obcaecati reiciendis mollitia dolorem quaerat atque vitae, voluptates voluptatibus cumque? Excepturi architecto cupiditate modi ab laboriosam? Tempora earum inventore odit delectus reprehenderit! Eum hic amet harum quam doloribus quia fugit tempora consequatur ipsa.

    </p>
</div>

<style>
    h1{
        background-color: black;
        color: yellow;
        padding: 20px;
        text-align: center;
    }

    div{
        background-color: grey;
        border-color: black;
        border-width: 5px;
        border-style: solid;
    }
</style>