{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'assets/js/script.js' %}"></script>
</head>
<body>
    <h1>hi welcome to django class</h1>
    <p id="demo">A Paragraph</p>
    <button type="button" onclick="myFunction()">Try it</button>
    <img src="{% static 'assets/img/11.jpg' %}" alt="image not loaded">
    
</body>
</html>
