{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignIn Page</title>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<style>
  .fab.fa-google {
    color: #FF0000; 
  }
  .btn-google {
    color: white;
    font-weight: bolder;
    border-color: #8B4513;
    background-color: #FF0000;
  }
  .btn-google:hover {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
  }
  
  .btn-google:focus {
    outline: none;
    box-shadow: none;
  }
</style>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8">
        <div class="card shadow">
          <div class="card-body">
            {% if messages %}
            <ul class="messages" style="list-style: none;">
              {% for message in messages %}
                  {% if message.extra_tags == "warning" %}
                  <strong><li class="alert alert-danger"><center>{{ message }}</center></li></strong>  
                  {% endif %}
                {% endfor %}
            </ul>
          {% endif %}
            <div class="text-center mb-4">
              <h1 class="mt-3">Auth System</h1>
            </div>
            <form class="signup-form" action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Address" name="email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
              </div>
              <button type="submit" class="btn btn-success btn-block">Sign In</button>
            </form>
            <p class="text-center mt-3">Don't have an account? <a href="{%url 'sign-up' %}" target="_blank">Sign Up</a></p>
            <hr>
            <p class="text-center mb-0">Or sign in with</p>
            <div class="text-center">
              <a href="{% provider_login_url 'google' %} " class="btn btn-outline-primary btn-google mt-2"><i class="fab fa-google mr-2"></i>Google</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  
</body>
</html>