<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp Page</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
  <link rel="stylesheet" href="styles.css">
</head>
<style>
  .fab.fa-google {
    color: #FF0000; 
  }
  .btn-google {
    color: white;
    font-weight: bolder;
    border-color: #8B4513;
    background-color: #FF0000;
  }
  .btn-google:hover {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
  }
 
  .btn-google:focus {
    outline: none;
    box-shadow: none;
  }
</style>

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-8">
        <div class="card shadow">
          <div class="card-body">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <div class="alert alert-danger" role="alert">
                    <strong><li>{{ message }}</li></strong>  
                </div>
                  {% endfor %}
              </ul>
          {% endif %}
            <div class="text-center mb-4">
              <h1 class="mt-3">Auth Website</h1>
            </div>
            <form class="signup-form" method="POST" action="">
                {% csrf_token %}
              <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address" required name="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required name="password" minlength="8">
              </div>
              <button type="submit" class="btn btn-success btn-block">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  
</body>
</html>